.search-button-32x32 {
  background-image: url("../assets/img/search-32x32.png");
  height: 32px;
  width: 32px;
  float: right;
}

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
