h1 {
  color: #369;
  font-family: Arial,sans-serif;
  font-size: 250%;
}

.colorNested, .containerX {
  min-height: 384px;
}
article, nav, aside, header, footer {
  margin: 4px;
  padding: 5px;
  border: 1px solid #cccc33;
  border-radius: 7pt;
}

#main > article {
  border-color: #cccc33;
  background: #dddd88;
  cursor: pointer;
}

#main > nav, #main > aside {
  border-color: #8888bb;
  background: #ccccff;
}

header, footer {
  border-color: #eebb55;
  background: #ffeebb;
}

md-card > md-card-actions:last-child {
  padding-bottom: 16px;
}

md-card > md-card-actions > button {
  margin-left: 10px;
}







.card-demo md-card,
.card-demo md-card-content {
  margin-bottom: 24px;
}

.card-demo md-card-footer {
  left: 24px;
  margin-bottom: 24px;
}

.containerX {
  border: solid 1px #b6b6b6;
  box-sizing: content-box !important;
}

.hint {
  color: #a3a3a3;
  font-size:0.9em;
  margin:5px;
  margin-bottom:0;
}

.forceAbove {
  margin-top: -275px;
}

.large {
  height:200px;
}

.large div.one, .large div.two {
  color:white;
}

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
